<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/quizes">Comenzar</a></p>
  </div>
</div>
