<!DOCTYPE html>
<html>
  <head>
    <% include /partials/head %>
  </head>

  <body class="container">
    <header>
      <% include /partials/header %>
    </header>

    <main class="row">
      <div class="container">
        <% include /partials/errorsMessage %>
        <%- body %>
      </div>
    </main>

    <footer>
      <% include /partials/footer %>
    </footer>

  <% include /partials/scripts %>
  </body>
</html>
