<!DOCTYPE html>
<html>
  <head>
    <% include /partials/head %>
  </head>

  <body class="container">
    <header>
      <% include /partials/header %>
    </header>

    <main class="row">
      <% if(errors.length) { %>
        <% include /partials/errorsMessage %>
      <% } %>

      <%- body %>
    </main>

    <footer class="navbar navbar-default  navbar-fixed-bottom">
      <% include /partials/footer %>
    </footer>

  <% include /partials/scripts %>
  </body>
</html>
