body                 { padding-top: 70px; padding-bottom: 70px; }


/* Estilos para centrar una barra de navegación */
.navbar-centered .navbar-nav {
    float: none;
    text-align: center;
}
.navbar-centered .navbar-nav > li {
    float: none;
}
.navbar-centered .nav > li {
    display: inline;
}
.navbar-centered .nav > li > a {
    display: inline-block;
}

/*Las cabeceras tienen por defecto un margen amplio, aquí lo reducimos*/
.page-header {
  margin-top: 0px;
}
.page-header h2{
  margin-top: 0px;
}

#logosTitle
{
  margin-top: 0px;
}
