<form action="/quizes/<%= quiz.id %>/answer" method="get">
  Pregunta: <%= quiz.pregunta %>
  <input type="text" name="respuesta" value="Responda aquí">
  <input type="submit" value="Enviar">
</form>
